<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Verificação do email</title>
    <style>
      * {
        margin: 0;
        padding: 0;
      }

      h2 {
        background-color: #403ffb;
        text-align: center;
        padding: 15px;
        color: #fff;
      }
      p {
        padding: 15px;
      }
    </style>
  </head>
  <body>
    <h2>Path2</h2>
    <p>Olá $name! Este email está a ser enviado para confirmares o teu email, se não foi você quem solicitou pode ignorar.</p>
    <p>Enviamos abaixo o seu link de confirmação:</p>
    <p>Link: $verifyLink</p>
    <p>Link: $verifyLink</p>
  </body>
</html>
